.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.chat-container {
  height: 500px;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow-y: scroll;
  padding: 20px;
}

.chat-box {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}

.chat-box .chat-message {
  background-color: #FFA07A;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  max-width: 80%;
}

.chat-box.user .chat-message {
  align-self: flex-end;
  background-color: #fff;
  color: #000;
}

label,
textarea {
  font-size: 0.8rem;
  letter-spacing: 1px;
}

textarea {
  padding: 10px;
  max-width: 100%;
  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #999;
  width: 500px;
}

label {
  display: block;
  margin-bottom: 10px;
}

button {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #999;
  background-color: #fff;
  cursor: pointer;
}

/*Class toggle-switch */
.toggle-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.toggle-switch-label {
  position: relative;
  display: block;
  width: 100%;
  height: inherit;
  text-indent: -9999em;
  cursor: pointer;
  user-select: none;
}